@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgb(230, 255, 255);
}

body {
    background-color: #222;
    font-family: "Lexend", sans-serif;
    font-weight: 300;
    overflow: hidden;
}

code {
    font-weight: 400;
}

main {
    padding: 1rem;
    height: 80vh;
}

h1 {
    text-align: center;
    margin-bottom: 2rem;
}

section {
    margin: 1rem 0;
}

fieldset {
    border: none;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


legend {
    margin: auto;
    padding: 1rem;
}

input {
    outline: none;
    background: none;
    border: none;
    padding: 0.2rem;
    background-color: #333;
    border-radius: 2px;
    padding: 8px 10px;
    font-family: "Lexend", sans-serif;
    width: 30vw;
    height: 3rem;
    font-style: 1.5rem;
}

input:focus {
    border-bottom: linear-gradient(to right, blue, blueviolet);
}

.sender {
    color: rgb(147, 147, 255);
    font-size: 1.1rem;
}

.iaSender {
    margin-bottom: 5px;
}

button {
    background: none;
    padding: 0.3rem;
    border: none;
    border-radius: 3px;
    transition: background-color 0.2s;
    background-color: #7289da;
    cursor: pointer;
    margin-left: 1rem;
    color: rgb(243, 243, 243);
    font-family: Arial, Helvetica, sans-serif;
    padding: 8px 10px;
}

button:hover {
    background-color: #6177c7;
}


fieldset ul {
    display: flex;
    flex-direction: column;
    width: 40vw;
    height: 100%;
    list-style-type: none;
    transition: 0.45s;
    overflow-y: auto;
    background-color: #333;
    border-radius: 5px;
    padding: 1rem;
}

li {
    width: fit-content;
    margin: 0.5rem;
    background-color: #444;
    padding: 1rem;
    max-width: 90%;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}

li pre {
    margin: 1rem 0 2rem 0;
    padding: 5px 1rem;
}

li code {
    border-radius: 5px;
    font-family: "Open Sans", sans-serif;
}

li.messageIa {
    padding: 0.5rem;
    align-self: flex-start;
    border-radius: 0.6rem;
}

li.messageUser {
    padding: 0.5rem;
    align-self: flex-end;
    border-radius: 0.7rem;
    animation-name: userMessageSpawn;
}

li.generated {
    animation-name: AIMessageSpawn;
    background-color: transparent;
}

.messageResult {
    height: 80vh;
    overflow-y: auto;
}

.send {
    display: flex;
    justify-content: center;
}

@media (max-width: 900px){
    fieldset ul {
        width: 100%;
    }
}

@keyframes userMessageSpawn {
    from {
        transform: translateY(3rem);
        opacity: 0;
    }
    to {
        transform: translateY(0) rotate(0);
        opacity: 1;
    }
}

@keyframes AIMessageSpawn {
    from {
        transform: translateY(3rem);
        opacity: 0;
    }
    to {
        transform: translateY(0) rotate(0);
        opacity: 1;
    }
}